@charset "utf-8";
/*------云端配置页面整页-------*/
.configurationContainer{
	border-radius: 12px;
  background: #ffffff;
}
/*-------对云端配置页面p元素进行初始化-----*/
.configurationContainer p{
  margin: 0;
}
@media (min-width:1441px){
  /*------云端配置页面整页上下边距-------*/
  .configurationContainer{
    padding-bottom: 60px;
    padding-top: 30px;
  }
  /*------云端配置文本父元素----*/
  .configurationContainer .configurationTop{
    margin: 30px;
  }
  /*-------云端配置文本样式----*/
  .configurationContainer .configurationTop span{
    font-size: 21px;
    color: #333;
    letter-spacing:6px;
  }
  /*-----云端配置中间部分上传和取消----*/
  .configurationContainer .configurationCenter{
    margin-bottom: 45px;
  }
  .configurationContainer .configurationCenter div{
    display: inline-block;
    margin: 0 30px;
  }
  /*-------上传样式文本----*/
  .configurationContainer .configurationCenter p.upload,p.download{
  	cursor: pointer;
    width: 165px;
    height: 39px;
    font-size: 16px;
    color: #CCCCCC;
    letter-spacing: 4px;
    line-height: 39px;
    border: 1px solid #f0f0f0;
    background: #fff;
    margin-bottom: 14px;
  }
  .upload{position: relative;top: -4px;}
  .configurationContainer .configurationCenter .download:hover,
  .configurationContainer .configurationCenter .upload:hover{
    border: 1px solid #f5c987;
    color:#f5c987;
    background: rgba(245,201,135,0.02);
  }
  /*------取消上传和导入样式文本----*/
  .configurationContainer .configurationCenter .cancel,span.import{
  	cursor: pointer;
    font-size: 14px;
    color:#ccc;
    letter-spacing: 3px;
  }
  .configurationContainer .configurationCenter .cancel:hover,span.import:hover{
  	color: #f5c987;
  }
  .configurationContainer .configurationCenter span.import{
    margin-left: 21px;
  }
  .configurationContainer .configurationBot{
    height: 583px;
    margin: 0 90px;
    border: 1px solid #dbdbdb;
    display: flex;
  }

  /*------底部文本样式-----*/
  .configurationContainer .configurationBot .configurationBotMain{
    text-align: left;
    font-size: 16px;
    letter-spacing:3px;
    color: #dbdbdb;
    line-height: 37px;
    margin : 16px 0px 16px 24px;
    width: 99%;
    overflow:hidden;

}
  /*------仿滚动条样式-------*/
  .configurationContainer .configurationBot .thumb{
    height: 100%;
    width:21px ;
    position: relative;
  }
  .configurationContainer .configurationBot .thumb .slider{
    height: 100px;
    width: 12px;
    border-radius: 6px;
    background: #f0f0f0;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }
}
@media only screen and (max-width:1440px) and (min-width:1025px){
  /*------云端配置页面整页上下边距-------*/
  .configurationContainer{
    padding-bottom: 45px;
    padding-top: 22px;
  }
  /*------云端配置文本父元素----*/
  .configurationContainer .configurationTop{
    margin: 22px;
  }
  /*-------云端配置文本样式----*/
  .configurationContainer .configurationTop span{
    font-size: 18px;
    color: #333;
    letter-spacing:4px;
  }
  /*-----云端配置中间部分上传和取消----*/
  .configurationContainer .configurationCenter{
    margin-bottom: 33px;
  }
  .configurationContainer .configurationCenter div{
    display: inline-block;
    margin: 0 22px;
  }
  /*-------上传样式文本----*/
  .configurationContainer .configurationCenter p.upload,p.download{
  	cursor: pointer;
    width: 123px;
    height: 30px;
    font-size: 14px;
    color: #CCCCCC;
    letter-spacing: 3px;
    line-height: 30px;
    border: 1px solid #f0f0f0;
    background: #fff;
    margin-bottom: 10px;
  }
  .upload{position: relative;top: -6px;}
  .configurationContainer .configurationCenter .download:hover,
  .configurationContainer .configurationCenter .upload:hover{
    border: 1px solid #f5c987;
    color:#f5c987;
    background: rgba(245,201,135,0.02);
  }
  /*------取消上传和导入样式文本----*/
  .configurationContainer .configurationCenter .cancel,span.import{
  	cursor: pointer;
    font-size: 12px;
    color:#ccc;
    letter-spacing: 3px;
  }
  .configurationContainer .configurationCenter .cancel:hover,span.import:hover{
  	color: #f5c987;
  }
  .configurationContainer .configurationCenter span.import{
    margin-left: 15px;
  }
  .configurationContainer .configurationBot{
    height: 437px;
    margin: 0 60px;
    border: 1px solid #dbdbdb;
    display: flex;
  }

  /*------底部文本样式-----*/
  .configurationContainer .configurationBot .configurationBotMain{
    text-align: left;
    font-size: 14px;
    letter-spacing:3px;
    color: #dbdbdb;
    line-height: 30px;
    margin:14px 0px 21px 21px;
    width: 99%;
    overflow:hidden

}
  /*------仿滚动条样式-------*/
  .configurationContainer .configurationBot .thumb{
    height: 100%;
    width:21px ;
    position: relative;
  }
  .configurationContainer .configurationBot .thumb .slider{
    height: 100px;
    width: 12px;
    border-radius: 6px;
    background: #f0f0f0;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }
}
@media (max-width:1024px){
  /*------云端配置页面整页上下边距-------*/
  .configurationContainer{
    padding-bottom: 33px;
    padding-top: 15px;
  }
  /*------云端配置文本父元素----*/
  .configurationContainer .configurationTop{
    margin: 15px;
  }
  /*-------云端配置文本样式----*/
  .configurationContainer .configurationTop span{
    font-size: 14px;
    color: #333;
    letter-spacing:3px;
  }
  /*-----云端配置中间部分上传和取消----*/
  .configurationContainer .configurationCenter{
    margin-bottom: 24px;
  }
  .configurationContainer .configurationCenter div{
    display: inline-block;
    margin: 0 15px;
  }
  /*-------上传样式文本----*/
  .configurationContainer .configurationCenter p.upload,p.download{
  	cursor: pointer;
    width: 90px;
    height: 21px;
    font-size: 10px;
    color: #CCCCCC;
    letter-spacing: 2px;
    line-height: 21px;
    border: 1px solid #f0f0f0;
    background: #fff;
    margin-bottom: 0px;
  }
  .upload{position: relative;top: -9px;}
  .configurationContainer .configurationCenter .download:hover,
  .configurationContainer .configurationCenter .upload:hover{
    border: 1px solid #f5c987;
    color:#f5c987;
    background: rgba(245,201,135,0.02);
  }
  /*------取消上传和导入样式文本----*/
  .configurationContainer .configurationCenter .cancel,span.import{
  	cursor: pointer;
    font-size: 10px;
    color:#ccc;
    letter-spacing: 2px;
  }
  .configurationContainer .configurationCenter .cancel:hover,span.import:hover{
  	color: #f5c987;
  }
  .configurationContainer .configurationCenter span.import{
    margin-left: 6px;
  }
  .configurationContainer .configurationBot{
    height: 306px;
    margin: 0 33px;
    border: 1px solid #dbdbdb;
    display: flex;
  }

  /*------底部文本样式-----*/
  .configurationContainer .configurationBot .configurationBotMain{
    text-align: left;
    font-size: 10px;
    letter-spacing:2px;
    color: #dbdbdb;
    line-height: 21px;
    margin: 10px 0px 10px 14px;
    width: 99%;
    overflow:hidden

}
  /*------仿滚动条样式-------*/
  .configurationContainer .configurationBot .thumb{
    height: 100%;
    width:21px ;
    position: relative;
  }
  .configurationContainer .configurationBot .thumb .slider{
    height: 100px;
    width: 12px;
    border-radius: 6px;
    background: #f0f0f0;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }
}
