.dataFlow img{
  vertical-align: middle;
}
.dataFlow h1,h2,h3,h4 {
  font-style: normal;
  margin: 0;
  padding: 0;
}
.dataFlow .clear{
  clear: both;
}
.dataFlow p{
  margin: 0;
  padding: 0;
}
.dataFlow{
 background: #FFFFFF;
}
@media (min-width:1441px){
  .dataFlow .dataFlowTop span{
    line-height:81px;
    font-size: 21px;
    color: #555;
    letter-spacing:6px;
  }
  .dataFlow{
	  min-height: 872px;
  	border-radius: 12px;
    padding-bottom: 75px;
  }
  .dataFlow .dataFlowBot{
    width: 95.872%;
    margin-left: 2.064%;
    margin-right: 2.064%;
  }
}
@media (max-width:1440px) and (min-width:1025px){
  .dataFlow .dataFlowTop span{
    line-height:60.75px;
    font-size:15.75px;
    color: #555;
    letter-spacing: 4.5px;
  }
  .dataFlow{
  	border-radius: 12px;
    padding-bottom: 56.25px;
  }
  .dataFlow .dataFlowBot{
    width: 95.872%;
    margin-left: 2.064%;
    margin-right: 2.064%;
  }
}
@media (max-width:1024px) {
  .dataFlow .dataFlowTop span{
    line-height:43px;
    font-size: 11px;
    color: #555;
    letter-spacing:3.18px;
  }
  .dataFlow{
  	border-radius: 12px;
    padding-bottom: 29.75px;
  }
  .dataFlow .dataFlowBot{
    width: 95.872%;
    margin-left: 2.064%;
    margin-right: 2.064%;
  }
}


