
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502672204097'); /* IE9*/
  src: url('iconfont.eot?t=1502672204097#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502672204097') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502672204097') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502672204097#iconfont') format('svg'); /* iOS 4.1- */
}

.icon-user:before { content: "\e692"; }

.icon-gerenzhongxin:before { content: "\e611"; }

.icon-jinggao2:before { content: "\e631"; }

.icon-artboard7:before { content: "\e6c8"; }

.icon-rect:before { content: "\e600"; }

.icon-x:before { content: "\e731"; }

.icon-xialaanniu:before { content: "\e64c"; }

.icon-jia:before { content: "\e678"; }

.icon-zhidayunweiguanlipingtaijichushuju:before { content: "\e675"; }

.icon-shezhi:before { content: "\e65d"; }

.icon-quxiao:before { content: "\e864"; }

.icon-mima:before { content: "\e663"; }

.icon-finish:before { content: "\e659"; }

.icon-duihao:before { content: "\e641"; }

.icon-shebeiguanlitubiao:before { content: "\e853"; }

.icon-shebeiguanli:before { content: "\e60b"; }

.icon-shejiqi_shujuguanli:before { content: "\e65f"; }

